<li class="item">
    <div class="image">
        <%= image_tag "#{bookmark[:image]}", alt: "#{bookmark[:title]}" %>
    </div>
    <div class="content">
        <h3><%= bookmark[:title] %></h3>
        <address><%= bookmark[:address] %></address>
        <p><%= bookmark[:description] %></p>
    </div>
    <div class="actions">
        <button>Add to Favorites</button>
    </div>
</li>