<main class="main">
  <%= render "layouts/messages" %>
  <% if @bookmarks.empty? %>
    <h1>No favorites added! Please try some interesting cuisines!</h1>
  <% else %>
    <%= render partial: "bookmark_list", locals: { bookmarks: @bookmarks } %>
  <% end %>
</main>
