<header class="header">
  <div class="logo">Foodie Bookmarks</div>
  <nav>
    <ul>
      <li>
        <a href="">All bookmarks</a>
      </li>
      <li>
        <a href="">Add bookmark</a>
      </li>
      <li>
        <a href="">Favorites</a>
      </li>
    </ul>
  </nav>
</header>
