<header class="header">
  <div class="logo">Foodie Bookmarks</div>
  <nav>
    <ul>
      <li>
        <%= link_to "All bookmarks", bookmarks_path() %>
      </li>
      <li>
        <%= link_to "Add bookmark", new_bookmark_path() %>
      </li>
      <li>
        <%= link_to "Favorites", favorites_path() %>
      </li>
    </ul>
  </nav>
</header>
